:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-2xs: 1rem;
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-md: 2.2rem;
  --text-lg: 3rem;
  --text-xl: 4.2rem;
  --text-2xl: 5.8rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #f44761;
  border-radius: 25px;
}

::selection {
  color: #111111;
  background-color: #f44761;
}
